/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

/* Change comment text font to sans serif */

body.bz_bug pre {
	font-family: var(--font-family-sans-serif);
}

body.bz_bug .bz_comment_text span.quote,
body.bz_bug .bz_comment_text span.quote_wrapped {
	font-family: var(--font-family-monospace);
}
