/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0. */

/* Custom CSS by me */

#bugzilla-body {
    max-width: revert;
    width: revert;
    margin-left: 15px;
    margin-right: 15px;
}

#bugzilla-body > div.tabbed {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 800px;
    width: 100%;
}

/* editsettings.cgi.cgi (begin) */
/* 
table:not(#menu) {
    border-collapse: collapse;
    border-top: 1px solid var(--grid-border-color);
    background-color: var(--grid-background-color);
}

table:not(#menu) .column_header {
    background-color: var(--grid-header-background-color);
}

table:not(#menu) tr {
    border-bottom: 1px solid var(--grid-border-color);
}

table:not(#menu) thead th {
    padding: 4px 8px;
    font-size: var(--font-size-small);
    white-space: nowrap;
}

table:not(#menu) tbody th,
table:not(#menu) tbody td {
    padding: 8px;
    vertical-align: middle;
} */

/* editsettings.cgi.cgi (end) */

/* editparams.cgi.cgi (begin) */
#bugzilla-body > .table {
    display: grid;
    grid-template-columns: 10% 90%;
}

#bugzilla-body > .table > .cell:nth-child(2) {
    /* mapping to #panel-content */
    border-radius: var(--primary-region-border-radius);
    padding: 32px;
    width: 90%;
    background-color: var(--primary-region-background-color);
    box-shadow: var(--primary-region-box-shadow);
}

/* editparams.cgi.cgi (end) */

/* userprefs.cgi (begin) */

#user_prefs > tbody > tr > td {
    padding: 8px;
}

#user_prefs td.right {
    /* .setting_label */
    text-align: right;
}

#user_prefs td {
    vertical-align: middle;
}

/* userprefs.cgi (end) */

/* making tables .standard */

table:not(#user_prefs):not(#menu):not(#admin_table_edit):not(.tabs) {
    border-collapse: collapse;
    border-top: 1px solid var(--grid-border-color);
    background-color: var(--grid-background-color);
}

table:not(#user_prefs):not(#menu):not(#admin_table_edit):not(.tabs)
    tr.column_header {
    background-color: var(--grid-header-background-color);
}

table:not(#user_prefs):not(#menu):not(#admin_table_edit):not(.tabs) tr {
    border-bottom: 1px solid var(--grid-border-color);
}

table:not(#user_prefs):not(#menu):not(#admin_table_edit):not(.tabs) thead th {
    padding: 4px 8px;
    font-size: var(--font-size-small);
    white-space: nowrap;
}

table:not(#user_prefs):not(#menu):not(#admin_table_edit):not(.tabs) tbody th {
    padding: 4px 8px;
    text-align: left;
}
table:not(#user_prefs):not(#menu):not(#admin_table_edit):not(.tabs) tbody td {
    padding: 8px;
    vertical-align: middle;
}

#admin_table_edit > tbody > tr > th {
    text-align: right;
}

#admin_table_edit > tbody > tr > * {
    padding: 4px;
}
