#Create > table > tbody > tr > * {
    padding: 4px;
    vertical-align: middle;
}

#comment_preview {
    width: inherit !important;
}

textarea#comment {
    width: 100%;
}

#Create .field_value .text_input {
    max-width: revert;
}

.field_value,
form#Create th,
form#Create td {
    vertical-align: middle;
}
